  <div class="actions">
    <a href=<%= @auth_url %> target="_self" class="btn-login">
      <img src="https://sweetiq.com/wp-content/uploads/logos/logo-foursquare.png" class="foursquare-logo" /> Log in with foursquare
    </a>
  </div>